body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('./bild/woodwall.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 70px;
}


.header {
    background-color: white; 
    padding: 10px;
    display: flex;
    position:fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgba(0, 0, 0, 0.39);

}


.logo img {
    max-height: 110px;
    display: flex;
}


.dropdown {
    display: flex;
    align-self: flex-end;
    margin-top: 10px;
    padding-right: 20px;
}


.filter-header {
    background-color: white; 
    padding: 10px;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
}


.filter-section {
    background-color: white; 
    display: flex;
    position: absolute;
    top: 122px;
    flex-direction: column;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 2px solid rgba(0, 0, 0, 0.39);
    padding: 15px 25px 15px 15px;
}


.filter-checkboxes {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.filter-checkboxes .filter-checkbox {
    display: flex;
    padding: 15px 40px 20px 6px;
}

.filter-checkboxes label {
    margin-right: 5px; 
}

/*menu ska ändras men fick sätta in detta så länge så vi ser texten från JavaScripten*/
.menu{
    margin-left: 260px;
    margin-right: 50px;
    padding-top: 120px;
    font-family:cursive;
}

#border-class{
    border-top: 1px solid rgba(0, 0, 0, 0.377);
    margin-top: 20px;
}

.dish{
    background-color: rgba(255, 255, 255, 0.87);
    padding-left: 20px;
    margin: 20px 0px;
}

button {
    background-color: white;
    border: none;
    margin: 5px 0px 0px 20px;
    color: grey;
    font-size: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
    border-bottom: 1px solid grey;
}

.filter {
    display: flex;
}

label {
    padding-right: 5px;
}

.menu-controls {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
