body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url("./images/woodwall.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 70px;
  width: 100vw;
  height: 100vh;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Permanent Marker", cursive;
  font-size: 4rem;
}

h4 {
  font-weight: normal;
  margin-bottom: 7px;
}

label {
  padding-right: 5px;
}

header {
  background-color: white;
  padding: 10px;
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 1;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.39);
}

.logo img {
  height: 110px;
  width: 110px;
}

.menu-controls {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.dropdown {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin-top: 10px;
  padding-right: 20px;
}

select {
  background-color: rgba(0, 0, 0, 0.73);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid white;
  border-radius: 1em;
  padding: 0.2em;
  cursor: pointer;
}

.content {
  display: flex;
  gap: 20px;
  flex-direction: row;
  position: absolute;
  top: 122px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
}

.filter-section {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(0, 0, 0, 0.39);
  border-top: none;
  padding: 15px 25px 15px 15px;
}

.filter {
  display: flex;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  padding-bottom: 10px;
}

button {
  background-color: #ffffff;
  border: none;
  margin: 5px 0px 0px 20px;
  color: #000000;
  font-size: 13px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  cursor: pointer;
}

button:hover {
  border-bottom: 1px solid grey;
}

.filter-checkboxes {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.filter-checkboxes .filter-checkbox {
  display: flex;
  padding: 15px 40px 20px 6px;
}

.filter-header {
  background-color: white;
  padding: 10px;
}

.filter-checkboxes label {
  margin-right: 5px;
}

input[type="checkbox"] {
  cursor: pointer;
}

#allergies-id {
  border-top: 1px solid rgba(0, 0, 0, 0.377);
  margin-top: 20px;
}

.order {
  background-color: white;
  padding: 15px 25px 15px 15px;
  border: 2px solid rgba(0, 0, 0, 0.39);
  margin-top: 10px;
}

.order-word-and-button {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.377);
  padding-bottom: 10px;
}

#my-order {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.order-dish {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

.minus-dish-btn, .plus-dish-btn, .remove-dish-btn, .toggle-price-btn {
  padding: 0;
  border: 1px solid grey;
  width: 25px;
  height: 25px;
  line-height: 0px;
  margin: 0 10px 0 5px;
  border-radius: 20%;
}

.remove-dish-btn {
  background-color: rgb(249, 124, 124);
}

#my-price {
  display: flex;
  gap: 10px;
  padding: 10px 10px 0px 10px;
}

.menu {
  max-width: 80ch;
  min-width: 320px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: cursive;
}

.dish {
  background-color: rgba(255, 255, 255, 0.87);
  padding-left: 20px;
  padding-right: 20px;
  margin: 20px 0px;
  cursor: pointer;
}

.dish:hover {
  border: 1px solid grey;
}

@media screen and (min-width: 320px) and (max-width: 620px) {
  h1 {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }

  header {
    position: fixed;
    flex-direction: column;
    height: 200px;
    margin: auto;
    padding: 2px 0 5px 0;
  }

  .logo img {
    height: 80px;
    width: 80px;
  }

  .content {
    flex-direction: column;
    top: 210px;
    gap: 0;
  }

  .sidebar {
    width: 100vw;
  }

  .filter-checkboxes {
    flex-direction: row;
  }

  #allergies-id {
    border-top: none;
    margin-top: 0px;
  }

  .menu {
    margin: 0;
    font-family: sans-serif;
  }

  .dish {
    padding-left: 10px;
  }
}